/* Home Page Font Styling module */

body {
    background-image: url("Images/background.png");
    color: white;
}

/* Assigns wha the font will be for each element on the home page */
#my_name, #follow_me, #quote_body, #quote_author, .bottom_panel, .right_pane_panel {
    font-family: josefin-slab,serif;
    font-weight: 700;
    font-style: normal;
}

#my_name {
    width: 315px;
    color: white;

    font-family: "Josefin Slab", serif;
    font-weight: 700;
    font-size: 40px;
}

#my_title {
    position: absolute;
    width: 292px;
    height: 20px;
    left: 67px;
    top: 62px;

    font-family: 'Jua', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}





