/* Home Page Font Styling module */

body {
    background-image: url("Images/background.png");
    color: white;
}

/* Assigns wha the font will be for each element on the home page */
#my_name, #follow_me, #quote_body, #quote_author, .bottom_panel, .right_pane_panel {
    font-family: josefin-slab,serif;
    font-weight: 700;
    font-style: normal;
}

#my_name {
    width: 315px;
    color: white;

    font-family: "Josefin Slab", serif;
    font-weight: 700;
    font-size: 40px;
}

#my_title {
    position: absolute;
    width: 292px;
    height: 20px;
    left: 67px;
    top: 62px;

    font-family: 'Jua', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

#follow_me {
    width: 215px;
    left: 53px;
    top: 169px;

    font-family: "Josefin Slab", serif;
    font-weight: 400;
    font-size: 46px;

    -webkit-transform: rotate(-90deg);
}

#welcome {
    position: absolute;
    width: 221px;
    height: 42px;
    left: 601px;
    top: 509px;

    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 52px;
}

#intro {
    position: absolute;
    width: 433px;
    height: 49px;
    left: 510px;
    top: 596px;

    font-family: 'Alegreya SC', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
}

#quote_body {
    position: absolute;
    width: 350px;
    height: 20px;
    left: 648px;
    top: 699px;

    font-family: 'Josefin Slab', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}





