/* Home Page Font Styling module */

body {
    background-image: url(Images/background.png);
    color: #FFFFFF;
}

/* Assigns wha the font will be for each element on the home page */
#my_name, #follow_me, #quote_body, #quote_author, .bottom_panel, .right_pane_panel{
    font-family: "Josefin Slab", serif;
}

#welcome {
    font-family: "Georgia", serif;
}

#intro {
    font-family: "Alegreya SC", serif;
}

#my_title {
    font-family: "Jua", serif;
}

/* Assigns the font size of each element */
#my_name {
    font-size: 40px;
    color: #CACACA;
}

#my_title {
    font-size: 20px;
}

#follow_me, #welcome {
    font-size: 46px;
}

#intro {
    font-size: 36px;
}

#quote_body, .bottom_panel, .right_pane_panel {
    font-size: 20px;
}

#quote_author {
    font-size: 16px;
}

/* Assigns the padding for each element */
#my_name {
    padding-left: 10px;
}

/* TODO : Figure out how to push the tag up higher */
#my_title {
    position: relative;
    padding-left: 50px;
}

#follow_me {
    position: absolute;
    -webkit-transform: rotate(-270deg);
    padding-top: 150px;
}

#welcome {
    position: relative;
    padding-top: 350px;
    padding-left: 500px;
}

#intro {
    position: relative;
    padding-left: 420px;
}

#quote_body {
    position: relative;
    padding-left: 550px;
}

#quote_author {
    position: relative;
    padding-left: 875px;
}

/* Creating bottom panel */
#home {
    position: absolute;
    padding-left: 400px;
}

#about {
    position: absolute;
    padding-bottom: 400px;
    padding-left: 490px;
}

#services {
    position: absolute;
    padding-left: 580px;
    padding-bottom: 1400px;
}

#portfolio {
    position: absolute;
    padding-left: 670px;
}

#testimonials {
    position: absolute;
    padding-left: 760px;
}

#blog {
    position: absolute;
    padding-left: 890px;
}

#contact_me {
    position: absolute;
    padding-left: 980px;
}

.bottom_panel {
    padding-top: 100px;
}

